node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store

.expo
.vscode
node_modules
yarn-error.log

# Web
web-build
web-report

# Electron
dist

# Gatsby
.cache
with-gatsby/public

# Next.js 
.next
with-nextjs/out

.gh-assets

# Native
*/ios/Pods

# Websockets
*/backend/.env